.elementor-17 .elementor-element.elementor-element-7f66012{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:15px 20px 0px 20px;}.elementor-17 .elementor-element.elementor-element-7f66012 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-1c18b27.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-17 .elementor-element.elementor-element-1c18b27.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-17 .elementor-element.elementor-element-bca4d87{text-align:left;}.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-d3e4b29.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-17 .elementor-element.elementor-element-d3e4b29.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-17 .elementor-element.elementor-element-d3e4b29 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-menu-toggle{margin-left:auto;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu .elementor-item{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:600;line-height:50px;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--main .elementor-item{color:#FFFFFF;fill:#FFFFFF;padding-top:0px;padding-bottom:0px;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--main .elementor-item:hover,
					.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--main .elementor-item:focus{color:#88BB44;fill:#88BB44;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown a, .elementor-17 .elementor-element.elementor-element-8026cdd .elementor-menu-toggle{color:#818181;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown{background-color:#EBECF1;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown a:hover,
					.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown a.highlighted,
					.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-menu-toggle:hover{color:#F9B233;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown a:hover,
					.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown a.highlighted{background-color:#EBECF1;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown a.elementor-item-active{background-color:#EBECF1;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown .elementor-item, .elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Poppins", Sans-serif;font-size:13px;font-weight:400;text-transform:capitalize;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:25px !important;}.elementor-17 .elementor-element.elementor-element-8026cdd div.elementor-menu-toggle{color:#000000;}.elementor-17 .elementor-element.elementor-element-8026cdd div.elementor-menu-toggle svg{fill:#000000;}.elementor-17 .elementor-element.elementor-element-8026cdd > .elementor-widget-container{padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-17 .elementor-element.elementor-element-bca4d87 img{width:100%;height:90px;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--dropdown a{padding-top:0px;padding-bottom:0px;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:70px !important;}}@media(min-width:768px){.elementor-17 .elementor-element.elementor-element-1c18b27{width:41.579%;}.elementor-17 .elementor-element.elementor-element-d3e4b29{width:58.421%;}}@media(max-width:767px){.elementor-17 .elementor-element.elementor-element-1c18b27{width:50%;}.elementor-17 .elementor-element.elementor-element-bca4d87 img{width:80px;height:80px;}.elementor-17 .elementor-element.elementor-element-d3e4b29{width:50%;}.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-d3e4b29.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-17 .elementor-element.elementor-element-d3e4b29.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-17 .elementor-element.elementor-element-8026cdd .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:40px !important;}}/* Start custom CSS for theme-site-logo, class: .elementor-element-bca4d87 */@media only screen and (min-width: 1024px) {
  .elementor-17 .elementor-element.elementor-element-bca4d87 img {
        width: 160px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7f66012 */.elementor-17 .elementor-element.elementor-element-7f66012 {
    z-index: 999;
}
.elementor-17 .elementor-element.elementor-element-7f66012 {
    background: linear-gradient(180deg, rgba(57, 72, 61, 0.8) 20.85%, rgba(110, 137, 116, 0) 90.83%);
}
@media only screen and (max-width: 800px) {
    .elementor-17 .elementor-element.elementor-element-7f66012 {
    background: #fff!important;
    height: 125px!important;
    } 
}

/***
* class: .sticky-header
*/
header.sticky-header {
	--header-height: 90px!important;
	--shrink-header-to: 0.6;
	--transition: .45s cubic-bezier(.4, 0, .2, 1);
	background-color: rgba(255, 255, 255, 0)!important;
	transition: background-color var(--transition),
				backdrop-filter var(--transition),
				box-shadow var(--transition);
	height: 90px!important;
}

/***
* Sticky header activated
*/
header.sticky-header.elementor-sticky--effects {
	background-color: rgba(255, 255, 255, 1)!important;
	box-shadow: 0px 4px 33px 1px rgba(0, 0, 0, .08);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
    height: 90px!important;
}
header.sticky-header > .elementor-container {
	min-height: var(--header-height);
	min-height: height: 90px!important;
	transition: min-height var(--transition);
}
header.sticky-header.elementor-sticky--effects > .elementor-container {
	min-height: calc( var(--header-height) * var(--shrink-header-to) );
	min-height: height: 90px!important;
}

/***
* Shorter header on mobile (70px instead of 100px)
*/
@media only screen and (max-width: 767px) {
	header.sticky-header {
		--header-height: 70px;
	}
}

/***
* class: .logo
*/
header.sticky-header .logo img {
	transition: transform var(--transition);
}
header.sticky-header.elementor-sticky--effects .logo img {
	transform: scale(.5);
	margin-top: -60px;
}
.elementor-17 .elementor-element.elementor-element-7f66012.elementor-sticky--effects {
    background: #fff;
}
header.sticky-header.elementor-sticky--effects .elementor-nav-menu--main .elementor-item {
    color: #002E3D!important;
}
header.sticky-header.elementor-sticky--effects .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #3E6855!important;
}/* End custom CSS */